<!DOCTYPE html>
<html>
<head>
	<title>update</title>
	
  <title>home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>
   <nav  class="navbar ">
  <h1>INVENTORY MANAGEMENT</h1>
</nav>
  
<div class="bg-dark">
      <div class="col-md-12"></div>
      <hr>

            <ul class="nav nav-tabs" >
                <li class="nav-item">
                  <a class="nav-link" href="pview">product</a></li>
                <li class="nav-item ">
                  <a class="nav-link" href="lview">location</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="mview">transfer</a></li>
            </ul> 
          
      </hr>
</div>
<table border="1">
	 	<form action="/mupdate" method="post">
	 		<div class="form-group">
	 		<label>movement ID</labbel>
	 		<input type="text" style="width:400px"  class="form-control" name="movement_id" value="{{result[0]}}">
	 		<label>Timestamp</label>
	 		<input type="text" style="width:400px"  class="form-control" name="ltimestamp" value="{{result[1]}}">
	 		<labbel>From Location</labbel>
	 		<input type="text" style="width:400px"  class="form-control" name="from_location" value="{{result[2]}}">
	 		<labbel>To location</labbel>
	 		<input type="text" style="width:400px"  class="form-control" name="to_location" value="{{result[3]}}">
	 		<labbel>product Name</labbel>
	 		<input type="text" style="width:400px"  class="form-control" name="product_name1" value="{{result[4]}}">
	 		<labbel>Quantity</label>
	 		<input type="text" style="width:400px"  class="form-control" name="quantity" value="{{result[5]}}">
	 		<input type="submit" class="btn btn-info" value="update Details">
	 	</div>
	 	</form>
</table>
</body>
</html>